In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
f = open('er_cas_raw_100.csv', 'rt')
reader = csv.reader(f)

data_list = []
for line in reader:
    data_list.append(line)

f.close()

er_cas_raw_100 = pd.DataFrame(data_list)
er_cas_raw_100 = er_cas_raw_100.replace('', 0)

cur_col = er_cas_raw_100.columns
new_col = ['rep', 'attack_size', 't', 'init_intra_edge_a', 'init_intra_edge_b', 'init_supp_edge', 'fin_intra_edge_a', 'fin_intra_edge_b', 'fin_supp_edge', 'init_mean_deg_a', 'init_mean_deg_b', 'alive_nodes', 'tot_isol_node', 'tot_unsupp_node', 'cas_steps', 'init_larg_comp_a', 'init_larg_comp_b', 'fin_larg_comp_a', 'fin_larg_comp_b']
needed = len(cur_col) - len(new_col)

l = 0
index = 1
while l < needed:
    new_col.append('step%d_isol' % index)
    new_col.append('step%d_unsupp' % index)
    index += 1
    l += 2

    
er_cas_raw_100.columns = new_col
er_cas_raw_100 = er_cas_raw_100.drop(er_cas_raw_100.index[0])

In [3]:
f = open('er_500_50_0012.csv', 'rt')
reader = csv.reader(f)

data_list = []
for line in reader:
    data_list.append(line)

f.close()

er_500_50_0012 = pd.DataFrame(data_list)
er_500_50_0012.replace('', np.nan, inplace=True)
er_500_50_0012 = er_500_50_0012.fillna(0)


cur_col = er_500_50_0012.columns
new_col = ['rep', 'attack_size', 't', 'init_intra_edge_a', 'init_intra_edge_b', 'init_supp_edge', 'fin_intra_edge_a', 'fin_intra_edge_b', 'fin_supp_edge', 'init_mean_deg_a', 'init_mean_deg_b', 'alive_nodes', 'tot_isol_node', 'tot_unsupp_node', 'cas_steps', 'init_larg_comp_a', 'init_larg_comp_b', 'fin_larg_comp_a', 'fin_larg_comp_b']
needed = len(cur_col) - len(new_col)

l = 0
index = 1
while l < needed:
    new_col.append('step%d_isol' % index)
    new_col.append('step%d_unsupp' % index)
    index += 1
    l += 2

    
er_500_50_0012.columns = new_col

In [5]:
f = open('er_1000_rep50_0006.csv', 'rt')
reader = csv.reader(f)

data_list = []
for line in reader:
    data_list.append(line)

f.close()

er_1000_50_0006 = pd.DataFrame(data_list)
er_1000_50_0006.replace('', np.nan, inplace=True)
er_1000_50_0006 = er_1000_50_0006.fillna(0)


cur_col = er_1000_50_0006.columns
new_col = ['rep', 'attack_size', 't', 'init_intra_edge_a', 'init_intra_edge_b', 'init_supp_edge', 'fin_intra_edge_a', 'fin_intra_edge_b', 'fin_supp_edge', 'init_mean_deg_a', 'init_mean_deg_b', 'alive_nodes', 'tot_isol_node', 'tot_unsupp_node', 'cas_steps', 'init_larg_comp_a', 'init_larg_comp_b', 'fin_larg_comp_a', 'fin_larg_comp_b']
needed = len(cur_col) - len(new_col)

l = 0
index = 1
while l < needed:
    new_col.append('step%d_isol' % index)
    new_col.append('step%d_unsupp' % index)
    index += 1
    l += 2

    
er_1000_50_0006.columns = new_col

In [6]:
f = open('er_1500_rep50_0004.csv', 'rt')
reader = csv.reader(f)

data_list = []
for line in reader:
    data_list.append(line)

f.close()

er_1500_50_0004 = pd.DataFrame(data_list)
er_1500_50_0004.replace('', np.nan, inplace=True)
er_1500_50_0004 = er_1500_50_0004.fillna(0)


cur_col = er_1500_50_0004.columns
new_col = ['rep', 'attack_size', 't', 'init_intra_edge_a', 'init_intra_edge_b', 'init_supp_edge', 'fin_intra_edge_a', 'fin_intra_edge_b', 'fin_supp_edge', 'init_mean_deg_a', 'init_mean_deg_b', 'alive_nodes', 'tot_isol_node', 'tot_unsupp_node', 'cas_steps', 'init_larg_comp_a', 'init_larg_comp_b', 'fin_larg_comp_a', 'fin_larg_comp_b']
needed = len(cur_col) - len(new_col)

l = 0
index = 1
while l < needed:
    new_col.append('step%d_isol' % index)
    new_col.append('step%d_unsupp' % index)
    index += 1
    l += 2

    
er_1500_50_0004.columns = new_col

In [7]:
er_cas_raw_100

,rep,attack_size,t,init_intra_edge_a,init_intra_edge_b,init_supp_edge,fin_intra_edge_a,fin_intra_edge_b,fin_supp_edge,init_mean_deg_a,...,step52_isol,step52_unsupp,step53_isol,step53_unsupp,step54_isol,step54_unsupp,step55_isol,step55_unsupp,step56_isol,step56_unsupp
1,1,100,0.005887,734,734,1000,0,0,0.0,2.936,...,None,None,None,None,None,None,None,None,None,None
2,2,100,0.005887,734,734,1000,200,217,188.0,2.936,...,None,None,None,None,None,None,None,None,None,None
3,3,100,0.005887,734,734,1000,0,0,0.0,2.936,...,None,None,None,None,None,None,None,None,None,None
4,4,100,0.005887,734,734,1000,339,322,274.0,2.936,...,None,None,None,None,None,None,None,None,None,None
5,5,100,0.005887,734,734,1000,218,208,194.0,2.936,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,2996,100,0.0062829999999999666,784,784,1000,365,355,286.0,3.136,...,None,None,None,None,None,None,None,None,None,None
2997,2997,100,0.0062829999999999666,784,784,1000,391,404,313.0,3.136,...,None,None,None,None,None,None,None,None,None,None
2998,2998,100,0.0062829999999999666,784,784,1000,305,301,260.0,3.136,...,None,None,None,None,None,None,None,None,None,None
2999,2999,100,0.0062829999999999666,784,784,1000,291,285,248.0,3.136,...,None,None,None,None,None,None,None,None,None,None
3000,3000,100,0.0062829999999999666,784,784,1000,361,359,288.0,3.136,...,None,None,None,None,None,None,None,None,None,None

In [8]:
er_500_50_0012

,rep,attack_size,t,init_intra_edge_a,init_intra_edge_b,init_supp_edge,fin_intra_edge_a,fin_intra_edge_b,fin_supp_edge,init_mean_deg_a,...,step56_isol,step56_unsupp,step57_isol,step57_unsupp,step58_isol,step58_unsupp,step59_isol,step59_unsupp,step60_isol,step60_unsupp
0,1,100,0.005511,687,687,1000,0,0,0,2.748,...,0,0,0,0,0,0,0,0,0,0
1,2,100,0.005511,687,687,1000,0,0,0,2.748,...,0,0,0,0,0,0,0,0,0,0
2,3,100,0.005511,687,687,1000,0,0,0,2.748,...,0,0,0,0,0,0,0,0,0,0
3,4,100,0.005511,687,687,1000,1,1,2,2.748,...,0,0,0,0,0,0,0,0,0,0
4,5,100,0.005511,687,687,1000,0,0,0,2.748,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,100,0.006699,807,807,1000,416,410,313,3.344,...,0,0,0,0,0,0,0,0,0,0
4996,4997,100,0.006699,807,807,1000,325,362,275,3.344,...,0,0,0,0,0,0,0,0,0,0
4997,4998,100,0.006699,807,807,1000,437,439,327,3.344,...,0,0,0,0,0,0,0,0,0,0
4998,4999,100,0.006699,807,807,1000,442,438,325,3.344,...,0,0,0,0,0,0,0,0,0,0
4999,5000,100,0.006699,807,807,1000,436,413,314,3.344,...,0,0,0,0,0,0,0,0,0,0

In [9]:
er_1000_50_0006

,rep,attack_size,t,init_intra_edge_a,init_intra_edge_b,init_supp_edge,fin_intra_edge_a,fin_intra_edge_b,fin_supp_edge,init_mean_deg_a,...,step67_isol,step67_unsupp,step68_isol,step68_unsupp,step69_isol,step69_unsupp,step70_isol,step70_unsupp,step71_isol,step71_unsupp
0,1,200,0.002752,1375,1375,2000,0,0,0,2.75,...,0,0,0,0,0,0,0,0,0,0
1,2,200,0.002752,1375,1375,2000,0,0,0,2.75,...,0,0,0,0,0,0,0,0,0,0
2,3,200,0.002752,1375,1375,2000,0,0,0,2.75,...,0,0,0,0,0,0,0,0,0,0
3,4,200,0.002752,1375,1375,2000,0,0,0,2.75,...,0,0,0,0,0,0,0,0,0,0
4,5,200,0.002752,1375,1375,2000,0,0,0,2.75,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,200,0.003346,1671,1671,2000,835,848,624,3.342,...,0,0,0,0,0,0,0,0,0,0
4996,4997,200,0.003346,1671,1671,2000,773,746,585,3.342,...,0,0,0,0,0,0,0,0,0,0
4997,4998,200,0.003346,1671,1671,2000,817,799,610,3.342,...,0,0,0,0,0,0,0,0,0,0
4998,4999,200,0.003346,1671,1671,2000,797,822,609,3.342,...,0,0,0,0,0,0,0,0,0,0
4999,5000,200,0.003346,1671,1671,2000,811,777,595,3.342,...,0,0,0,0,0,0,0,0,0,0

In [10]:
er_1500_50_0004

,rep,attack_size,t,init_intra_edge_a,init_intra_edge_b,init_supp_edge,fin_intra_edge_a,fin_intra_edge_b,fin_supp_edge,init_mean_deg_a,...,step61_isol,step61_unsupp,step62_isol,step62_unsupp,step63_isol,step63_unsupp,step64_isol,step64_unsupp,step65_isol,step65_unsupp
0,1,300,0.001834,2062,2062,3000,0,0,0,2.749333333,...,0,0,0,0,0,0,0,0,0,0
1,2,300,0.001834,2062,2062,3000,0,0,0,2.749333333,...,0,0,0,0,0,0,0,0,0,0
2,3,300,0.001834,2062,2062,3000,0,0,0,2.749333333,...,0,0,0,0,0,0,0,0,0,0
3,4,300,0.001834,2062,2062,3000,0,0,0,2.749333333,...,0,0,0,0,0,0,0,0,0,0
4,5,300,0.001834,2062,2062,3000,0,0,0,2.749333333,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,300,0.00223,2507,2507,3000,1144,1145,885,3.342666667,...,0,0,0,0,0,0,0,0,0,0
4996,4997,300,0.00223,2507,2507,3000,1088,1082,847,3.342666667,...,0,0,0,0,0,0,0,0,0,0
4997,4998,300,0.00223,2507,2507,3000,1129,1085,855,3.342666667,...,0,0,0,0,0,0,0,0,0,0
4998,4999,300,0.00223,2507,2507,3000,1175,1167,889,3.342666667,...,0,0,0,0,0,0,0,0,0,0
4999,5000,300,0.00223,2507,2507,3000,1201,1188,911,3.342666667,...,0,0,0,0,0,0,0,0,0,0

In [11]:
er_cas_raw_100.to_csv('proc_er_cas_100.csv')

In [12]:
er_500_50_0012.to_csv('proc_er_500_50_0012.csv')
er_1000_50_0006.to_csv('proc_er_1000_50_0006.csv')
er_1500_50_0004.to_csv('proc_er_1500_50_0004.csv')